fieldset{
    border-radius: 5px;
    border-color: lightgray;
    margin: 30px;
}
h3{
    color: #aa232f;
    text-align: center;
}
label{
    color: black;
    margin-top: 10px;
}
input{
    background-color: lightgrey;
    margin: 0;
    border: none;
    border-radius: 2px;
}
.names{
    display: flex;
    gap: 75px;
}
.fname{
    display: inline;
}
.lname{
    display: inline;
}
.address{
    display: block;
    width: 95%;
}
.pnumber{
    display: block;
    width: 95%;
}
.email{
    width: 95%;
    display: block;
}
.buttonHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}
.addPerson{
    border-radius: 10%;
    background-color: #aa232f;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
.addPerson:hover{
    cursor: pointer;
    opacity: 80%;
}

/*CSS for modal popup*/
.icon_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.check{
    box-sizing: border-box;
    position: absolute;
    left: 54.22%;
    right: 40%;
    top: 34.5%;
    bottom: 56.61%;

    /* success */
    background: #89D17E;

    /* success */
    border: 1px solid #89D17E;
    border-radius: 53px;
}
p{
    size: 1.5rem;
}
.button_holder{
    display: flex;
}
.back{
    border: 1px solid #aa232f;
    border-radius: 10%;
    color: #aa232f;
    background-color: white;
}
.add_another_person{
    border: 1px solid #aa232f;
    border-radius: 10%;
    color: white;
    background-color: #aa232f;
}