.login_container{
    display: grid;
    grid-template-columns: 1f 1fr;
}

#left_photo_container{
    height: 100vh;
    width: 50vw;
    background-image: url('../assets/loginPhoto.png');
    background-repeat:round;
}

#right_container{
    height: 100vh;
    width: 50vw;
    background-color: #aa232f;
}

#content_container{
    height: 0vh;
    width: 30vw;
    margin: 15vh auto;
    
}

#login_logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  
  
}

#title{
    font-weight: 100;
    letter-spacing: 15px;
    color: white;
    font-size:2.5vw;
    margin-top: 10px;
    margin-bottom: 60px ;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}


.input{
    height: 40px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: white;
}



button#submit{
    
    width: 105%;
    height: 60px;
}

#submit:hover{
    cursor: pointer;
    opacity: 50%;
    
}

.register_link{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    text-decoration-color: rgb(255, 158, 158);
   
  
}