#sidebar{
    height: 100vh;
    width: 300px;
    background-color: #aa232f;
}

.sidebar {
    padding: 30px;
}

.side-logo{
    margin: 50px;
    text-align: center;
}

.sidebar-link{
   width: 100%;
   
}


.fcc-title{
    width: 100%;
    margin-bottom: 40px;
}

.link{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: none;
    text-decoration: none;
    color: white;
    padding: 0 40px;
    margin: 40px 0;
  }
  
  .link:hover{
    background-color: #eaa7ad87;
    transition: all 0.3s ease-in-out;
  }