.sidebar {
    height: 100vh;
    width: 200px;
    margin: 0%;
    background-color: #aa232f;
}

.side-logo{
    margin: 50px;
    text-align: center;
}

.sidebar-link{
   width: 100%;
   
}


.fcc-title{
    width: 100%;
    margin-bottom: 40px;
}

.link{
    display: flex;
    align-items: center;
    gap: 10px;
    text-align: none;
    text-decoration: none;
    color: white;
    padding: 0 40px;
    margin: 40px 0;
  }
  
  .link:hover{
    background-color: #eaa7ad87;
    transition: all 0.3s ease-in-out;
  }

  @media only screen and (max-width: 850px) {
    .sidebar{
        width: 100px;
    }
    .side-logo{
        margin: 20px;
    }
    .link p{
        display: none;
    }
  }